.navbar-form .sub {
	margin-top: 3px;
	font-size: 11px;
}

table tr th {
    vertical-align: top !important;
    background-color: #eee;
}

table tr th div.sub {
    font-weight: normal;
    font-size: 11px;
    color: #999;
}